#navbar {
  z-index: 3;
  width: 100%;
}

#navbar {
  background-color: #748da6;
}

.imagenLogo {
  max-width: 70px;
}

.btn-navbar {
  max-width: 35vw;
}

.btn-navbar:hover {
  border-bottom: black solid thin;
}
